
<div id="footBar">
	<div class="footer comWidth">
		<a href="">慕课简介</a> | 
		<a href="">慕课公告</a> | 
		<a href="">招纳贤士</a> | 
		<a href="">联系我们</a> | 
		<a href="">客服热线：400-675-1234</a>
		<p>Copyright &copy 2006 - 2014 慕课版权所有   京ICP备09037834号   京ICP证B1034-8373号   某市公安局XX分局备案编号：123456789123</p>
		<a href="#" class="link"><img src="/style/web/img/footImg.gif" alt=""></a>
		<a href="#" class="link"><img src="/style/web/img/footImg.gif" alt=""></a>
		<a href="#" class="link"><img src="/style/web/img/footImg.gif" alt=""></a>
		<a href="#" class="link"><img src="/style/web/img/footImg.gif" alt=""></a>
		<a href="#" class="link"><img src="/style/web/img/footImg.gif" alt=""></a>
	</div>
</div>
