---
layout: business
title: 产品详情页面---电商网站
---
{% include post/business/header.html %}
<style>
	body{background-color: #f2f2f2;}
	.shopClass_show{display: none;}
</style>
<div class="userPosition comWidth">
	<a href="#">首页</a>
	<span>&nbsp;&gt;&nbsp;</span>
	<a href="#">平板电脑</a>
	<span>&nbsp;&gt;&nbsp;</span>
	<em>MD531CH/A</em>
</div>
<div class="description_info comWidth">
	<div class="description clearfix">
		<div class="leftArea">
			<div class="descript_imgs">
				<div class="big"><img src="/style/web/img/big.jpg" alt=""></div>
				<ul class="des_smimg clearfix">
					<li><a href=""><img src="/style/web/img/sma_01.jpg" alt="" class="active"></a></li>
					<li><a href=""><img src="/style/web/img/sma_02.jpg" alt=""></a></li>
					<li><a href=""><img src="/style/web/img/sma_01.jpg" alt=""></a></li>
					<li><a href=""><img src="/style/web/img/sma_02.jpg" alt=""></a></li>
					<li><a href=""><img src="/style/web/img/sma_01.jpg" alt=""></a></li>
				</ul>
			</div>
		</div>
		<div class="rightArea"></div>
	</div>
</div>
{% include post/business/footer.html %}
