---
layout: business
title: 产品筛选页面---电商网站
---
{% include post/business/header.html %}
<style>
	.shopClass_show{display: none;}
</style>
<div class="comWidth clearfix product">
	<div class="hr_15"></div>
	<div class="leftArea">
		<div class="leftNav">
			<div class="nav_title">手机、数码</div>
			<div class="nav_cont">
				<h3>手机通讯</h3>
				<ul class="navCont_list clearfix vertical">
					<li><a href="#">全部手机</a></li>
					<li><a href="#">拍照神器</a></li>
					<li><a href="#">全部手机</a></li>
				</ul>
			</div>
			<div class="nav_cont">
				<h3>手机通讯</h3>
				<ul class="navCont_list clearfix vertical">
					<li><a href="#">全部手机</a></li>
					<li><a href="#">拍照神器</a></li>
				</ul>
			</div>
			<div class="nav_cont">
				<h3>手机通讯</h3>
				<ul class="navCont_list clearfix vertical">
					<li><a href="#">全部手机</a></li>
					<li><a href="#">拍照神器</a></li>
					<li><a href="#">全部手机</a></li>
					<li><a href="#">拍照神器</a></li>
				</ul>
			</div>
			<div class="nav_cont">
				<h3>手机通讯</h3>
				<ul class="navCont_list clearfix vertical">
					<li><a href="#">全部手机</a></li>
					<li><a href="#">拍照神器</a></li>
					<li><a href="#">全部手机</a></li>
					<li><a href="#">拍照神器</a></li>
					<li><a href="#">全部手机</a></li>
					<li><a href="#">全部手机</a></li>
					<li><a href="#">拍照神器</a></li>
				</ul>
			</div>
		</div>

	</div><!-- leftArea -->
	<div class="rightArea">
		<div class="screen_box">
			<dl class="screen clearfix">
				<dt>手机</dt>
				<dd class="limit">
					<a class="active" href="#">不限</a>
				</dd>
				<dd class="screen_list">
					<ul class="clearfix">
						
					<li><a href="#">Samsung/三星</a></li>
					<li><a href="#">aplle/苹果</a></li>
					<li><a href="#">Huawei/华为</a></li>
					<li><a href="#">Samsung/三星</a></li>
					<li><a href="#">aplle/苹果</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="screen clearfix">
				<dt>手机</dt>
				<dd class="limit">
					<a href="#">不限</a>
				</dd>
				<dd class="screen_list">
					<ul class="clearfix">
						
					<li><a class="active" href="#">Samsung/三星</a></li>
					<li><a href="#">aplle/苹果</a></li>
					<li><a href="#">Huawei/华为</a></li>
					<li><a href="#">Samsung/三星</a></li>
					<li><a href="#">aplle/苹果</a></li>
					<li><a href="#">Samsung/三星</a></li>
					<li><a href="#">aplle/苹果</a></li>
					<li><a href="#">Huawei/华为</a></li>
					<li><a href="#">Samsung/三星</a></li>
					<li><a href="#">aplle/苹果</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="screen clearfix">
				<dt>手机</dt>
				<dd class="limit">
					<a class="active" href="#">不限</a>
				</dd>
				<dd class="screen_list">
					<ul class="clearfix">
						
					<li><a href="#">Samsung/三星</a></li>
					<li><a href="#">aplle/苹果</a></li>
					<li><a href="#">Huawei/华为</a></li>
					<li><a href="#">Samsung/三星</a></li>
					<li><a href="#">aplle/苹果</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="screen clearfix">
				<dt>手机</dt>
				<dd class="limit">
					<a class="active" href="#">不限</a>
				</dd>
				<dd class="screen_list">
					<ul class="clearfix">
						
					<li><a href="#">Samsung/三星</a></li>
					<li><a href="#">aplle/苹果</a></li>
					<li><a href="#">Huawei/华为</a></li>
					<li><a href="#">Samsung/三星</a></li>
					<li><a href="#">aplle/苹果</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="screen clearfix">
				<dt>更多选项</dt>
				<dd class="screen_list">
					<div class="screen_more">
						<a href="#">CPU核心数</a>
					</div>
					<div class="screen_more">
						<a href="#">CPU核心数CPU核心数</a>
					</div>
					<div class="screen_more">
						<a href="#">CPU核心数</a>
					</div>
				</dd>
			</dl>
		</div>
		<div class="hr_15"></div>
		<div class="addInfo">
			<div class="fl">
				<div class="address">
					<span class="add_text">送至：</span>
					<div class="select">
						<h3>海淀区五环内</h3>
						<span></span>
						<ul class="show_select">
							<li>上帝</li>
							<li>五道环</li>
							<li>上帝</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="fr screen_text">
				<span class="check"><input type="checkbox" id="check">
					<label for="check">仅显示有货</label></span>
				<span class="shop_number">
						共<em> 12 </em>件
					</span>
			</div>
		</div>
		<div class="product_list clearfix screen_list_more">
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
				<div class="hot"></div>
			</div>
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
			</div>
			<div class="item">
				<div class="item_con">
					<div class="img_item"><a href="#"><img src="/style/web/img/shopImg.jpg" alt=""></a></div>
					<p><a href="#">数码影像数码影像数码影像 数码影像</a></p>
					<p class="money">￥188 (88条)</p>
					<p><a href="" class="addCar">加入购物车</a></p>
				</div>
			</div>
		</div>
		<div class="hr_15"></div>
		<div class="page">
			<a href="#">上一页</a>
			<a href="#">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#">6</a>
			<a href="#">7</a>
			<a href="#">8</a>
			<span class="hl">...</span>
			<a href="#">下一页</a>
			<span class="morePage">共200页，到第</span>
			<input type="text" class="pageNum"> 页
			<input type="button" value="确定" class="pageBtn">
		</div>
	</div><!-- rightArea -->
</div>
{% include post/business/footer.html %}
